h2 {width: 100px; 
    margin: 1px; 
    padding: 2px; 
    background: red; 
    color:white;
    font-weight: 900;
    
}


p {width: 350px; 
	height: 33px;
    background: #4600ff; 
    padding: 0px 2px 20px 0px;
   }

.yellowtext {background: #fdf800;
  padding: 0px 2px 7px 0px;
  font-weight: 100;
}