h2 {width: 100px; 
    margin: 1px; 
    padding: 2px; 
    background: red; 
    color:white;}


p {width: 200px; 
    background: #1D1fD6; 
    padding: 0px 2px 20px 0px;
   }

sup { 
    vertical-align: super;
    font-size: smaller;
}
sub { 
    vertical-align: sub;
    font-size: smaller;
}

.yellowtext {background: yellow;
  padding: 0px 2px 15px 0px;}

.one {background: red;
   width: 50px;
  padding: 0px 2px 15px 0px;}

.two {background: orange;
  width: 100px;
  padding: 0px 2px 15px 0px;}

.three {background: purple;
   width: 150px;
  padding: 0px 2px 15px 0px;}

.title1 {background: none;
font-size: 20px;
width: 100%;
padding: 0px; margin: 2px;}

.orange {background: orange;
font-size: 40px;
padding: 20px;
margin: 20px;}

.greenlink{ color:green;}

.blue{color:blue;} 
.red {color:red;}

.task6{width: 555px;
height: 90px;
border: 2px solid black;
margin: 0 0 0 20px;
}
.task7{width: 500px;
height: 120px;
border: 2px solid black;
margin: 0 0 0 20px;
}


#task5{width:  400px;
	height: 200px;
	background: #d6d7be;
	margin: 20px;
} 

#head1 {font-size: 30px;
        color:#532601;
        font-family:sans-serif;
        margin: 10px 0px;}

#head2 {font-size: 25px;
	    width: 400px;
        color:#000000;
        margin: 0px;
        padding: 0px; 
        background: #d6d7be; 
        margin: 10px 0px;
}
#head3  {font-size: 20px;
         color:#bf9043;
     margin: 10px 0px;}

#textinside {background: #d6d7be;
	width: 400px;
	margin: 0px; 
	padding: 0px;}